---
import { Image } from 'astro:assets';
import MobileCard from './ExpandedCardMobile.astro';

interface Props {
    src: ImageMetadata;
    alt: string;
    href: string;

    socials?: { icon: ImageMetadata; name: string; href: string }[];
}

const { src, alt, href, socials } = Astro.props;

let projectName = href.split('/').pop();
---

<div class='hidden justify-center items-center relative sm:flex'>
    <div class='w-64 h-64 relative'>
        <div
            class='max-w-[16rem] max-h-64 flex rounded-2xl bg-neutral-100 hover:max-h-96 hover:max-w-[28rem] hover:z-10 absolute bottom-0 left-0 transition-all duration-300 overflow-hidden group/card shadow-xl hover:-translate-y-2'
        >
            <div class='w-64 flex-none'>
                <Image
                    class='h-64 w-64 rounded-2xl object-cover'
                    src={src}
                    alt={alt}
                    transition:name=`project-icon-${projectName}`
                    transition:animate={'fade'}
                />
            </div>
            <div
                class='w-48 flex flex-col justify-between flex-none px-3 py-3 group-hover/card:opacity-100 opacity-0 transition duration-300'
            >
                <div class='w-full'>
                    <slot />
                </div>
                <div class='w-full flex flex-col gap-2 flex-none'>
                    <div class='flex gap-1'>
                        {
                            socials?.map(({ icon, name, href }) => (
                                <a
                                    href={href}
                                    target='_blank'
                                    transition:name={`project-s-${name}-${projectName}`}
                                >
                                    <Image
                                        src={icon}
                                        class='h-5 !max-w-min'
                                        alt={'Socials icon'}
                                    />
                                </a>
                            ))
                        }
                    </div>
                    <a
                        href={href}
                        class='rounded-full bg-orange-200 hover:bg-orange-300 transition duration-300 px-4 w-full py-1 text-base text-center'
                        >Read More</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<div class='sm:hidden block'>
    <MobileCard src={src} href={href} alt={alt} />
</div>
